#wrapper {
    width: 300px;
    height: 300px;
    perspective: 400px;
    position: relative;
}
.circles {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border-top: 8px solid black;
}
.circle-1 {
    transform:
    translate(-50%, -50%)
    translateZ(20px) rotateX(50deg) rotateY(100deg);
    animation: spin-1 1.5s infinite linear;
}
.circle-2 {
    transform:
    translate(-50%, -50%)
    translateZ(20px) rotateX(50deg) rotateY(300deg);
    animation: spin-2 1.5s infinite linear;
}
.circle-3 {
    transform:
    translate(-50%, -50%)
    translateZ(20px) rotateX(50deg) rotateY(200deg);
    animation: spin-3 1.5s infinite linear;
}

@keyframes spin-1 {
    from {
        transform:
        translate(-50%, -50%)
        translateZ(20px)
        rotateX(50deg) rotateY(100deg) rotateZ(0);
    }
    to {
        transform:
        translate(-50%, -50%)
        translateZ(20px)
        rotateX(50deg) rotateY(100deg) rotateZ(360deg);
    }
}
@keyframes spin-2 {
    from {
        transform:
        translate(-50%, -50%)
        translateZ(20px)
        rotateX(50deg) rotateY(300deg) rotateZ(0);
    }
    to {
        transform:
        translate(-50%, -50%)
        translateZ(20px)
        rotateX(50deg) rotateY(300deg) rotateZ(360deg);
    }
}
@keyframes spin-3 {
    from {
        transform:
        translate(-50%, -50%)
        translateZ(20px)
        rotateX(50deg) rotateY(200deg) rotateZ(0);
    }
    to {
        transform:
        translate(-50%, -50%)
        translateZ(20px)
        rotateX(50deg) rotateY(200deg) rotateZ(360deg);
    }
}